.btn {
  display: inline-flex;
  align-items: center;

  padding-top: 15.5px;
  padding-bottom: 14.5px;
  padding-left: 40px;
  padding-right: 44px;

  font-weight: 700;
  font-size: 14px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;

  background-color: #ff8b00;
  border-radius: 4px;

  transition: all 0.3ms;
}

@media  screen and (max-width: 560px) {
  .btn {
    padding-top: 8px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 24px;
  }
}

.btn:hover {
  opacity: 0.8;
}
