.btn {
  display: inline-flex;
  align-items: center;

  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 40px;
  padding-right: 44px;

  font-weight: 700;
  font-size: 14px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;

  background-color: #ff8b00;
  border-radius: 4px;
}
