.footer {
  position: relative;
  //min-height: 100px;

  background-color: #363636;
}

.footer::after {
  content: "";
  position: absolute;

  bottom: 57px;
  right: 33px;

  width: 75px;
  height: 86px;

  background-image: url("../img/svg/logo.svg");
  background-repeat: no-repeat;
}

@media  screen and (max-width: 960px) {
  .footer::after {
    bottom: 43px;
    width: 60px;
  }
}

@media  screen and (max-width: 600px) {
  .footer::after {
    bottom: 35px;
    width: 50px;
  }
}

.footer__section {
  display: flex;
  max-width: 1232px;
  margin: 0 auto;
  padding-top: 55px;
  padding-left: 40px;
  padding-right: 40px;
}

@media  screen and (max-width: 960px) {
  .footer__section {
    flex-direction: column;
    padding-bottom: 55px;
  }
}

@media  screen and (max-width: 768px) {
  .footer__section {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.footer__section h3 {
  position: relative;
  margin: 0;
  margin-bottom: 17px;
  padding-left: 15px;

  font-size: 14px;
  line-height: 1;
  color: #ff8b00;
  text-transform: uppercase;
  letter-spacing: 0.56px;
}

.footer__section h3::before {
  content: "";
  position: absolute;

  top: 1px;
  left: 0;

  width: 9px;
  height: 10px;

  background-image: url("../img/svg/polygon.svg");
}

.footer__section ul {
  margin: 0;
  padding: 0;

  list-style: none;
}

.footer__section ul li {
  margin-bottom: 10px;
}

.footer__section ul li,
.footer__section li a {
  font-size: 14px;
  line-height: 1;
  color: #ffffff;
  letter-spacing: 0.7px;
  text-transform: uppercase;
}

.footer__section li a:hover {
  border-bottom: 2px solid #ff8b00;
}

.footer__wrap-right {
  display: flex;
}

@media  screen and (max-width: 600px) {
  .footer__wrap-right {
    flex-direction: column;
  }
}

.footer__navigation {
  width: 276px;
  max-width: 276px;
  padding-left: 106px;
}

@media  screen and (max-width: 1200px) {
  .footer__navigation {
    width: 223px;
    max-width: 223px;
    padding-left: 53px;
  }
}

@media  screen and (max-width: 600px) {
  .footer__navigation {
    padding-left: 0;
    padding-bottom: 40px;
  }
}

.footer__links {
  width: 260px;
  max-width: 260px;
  padding-left: 96px;
}

@media  screen and (max-width: 1200px) {
  .footer__links {
    width: 212px;
    max-width: 212px;
    padding-left: 0;
  }
}

@media  screen and (max-width: 600px) {
  .footer__links {
    padding-bottom: 40px;
  }
}

.footer__contacts {
  position: relative;

  right: -9px;

  width: 310px;
  max-width: 310px;
  padding-left: 102px;

}

@media  screen and (max-width: 1200px) {
  .footer__contacts {
    width: 215px;
    max-width: 215px;
    padding: 0;
  }
}

@media  screen and (max-width: 600px) {
  .footer__contacts {
    right: 0;
    padding-bottom: 40px;
  }
}



.footer__contacts-item span {
  padding-right: 10px;
  font-size: 12.5px;
}

.footer__contacts .footer__contacts-item a {
  font-size: 12.5px;
  text-transform: lowercase;
}

.footer__contacts-item--email {
  padding-top: 5px;
}


.footer__copyright {
  margin-top: -3px;

  font-family: "Raleway", "Arial", sans-serif;
  font-size: 10px;
  line-height: 1;
  color: #9b9b9b;
  letter-spacing: 0.4px;
  text-transform: uppercase;

  background-color: #252525;
}

@media  screen and (max-width: 600px) {
  .footer__copyright {
    margin-top: 0;
    line-height: 1.5;
  }
}

.footer__copyright-wrap {
  max-width: 486px;
  margin: 0 auto;
  padding-top: 11px;
  padding-bottom: 10px;
  padding-left: 40px;
  padding-right: 40px;
}

@media  screen and (max-width: 768px) {
  .footer__copyright-wrap {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.footer__copyright-span {
  position: relative;
  padding-right: 15px;
}

.footer__copyright-span::after {
  content: "";

  position: absolute;

  top: 0;
  right: 2px;

  width: 9px;
  height: 10px;

  background-image: url("../img/svg/polygon.svg");
}
