.footer {
  position: relative;
  //min-height: 100px;

  background-color: #363636;
}

.footer::after {
  content: "";
  position: absolute;

  bottom: 57px;
  right: 33px;

  width: 75px;
  height: 86px;

  background-image: url("../img/svg/logo.svg");
}

.footer__section {
  display: flex;
  max-width: 1232px;
  margin: 0 auto;
  padding-top: 55px;
  padding-bottom: 48px;
  padding-left: 40px;
  padding-right: 40px;
}

@media  screen and (max-width: 768px) {
  .footer__section {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.footer__section h3 {
  position: relative;
  margin: 0;
  margin-bottom: 17px;
  padding-left: 15px;

  font-size: 14px;
  line-height: 1;
  color: #ff8b00;
  text-transform: uppercase;
  letter-spacing: 0.56px;
}

.footer__section h3::before {
  content: "";
  position: absolute;

  top: 1px;
  left: 0;

  width: 9px;
  height: 10px;

  background-image: url("../img/svg/polygon.svg");
}

.footer__section ul {
  margin: 0;
  padding: 0;

  list-style: none;
}

.footer__section ul li {
  margin-bottom: 10px;
}

.footer__section ul li,
.footer__section li a {
  font-size: 14px;
  line-height: 1;
  color: #ffffff;
  letter-spacing: 0.7px;
  text-transform: uppercase;
}

.footer__wrap-right {
  display: flex;
}

.footer__navigation {
  //padding-left: 20%;
  //margin-right: 31%;
  width: 276px;
  max-width: 276px;
  padding-left: 106px;
}

.footer__links {
  //margin-right: 21%;
  //width: 32.4%;
  //width: 314px;
  //max-width: 314px;
  width: 260px;
  max-width: 260px;
  padding-left: 96px;
}




.footer__links-item {
  //width: 165px;
  //max-width: 165px;
  //width: 90%;
}

.footer__contacts {
  //width: 57%;
  width: 310px;
  max-width: 310px;
  padding-left: 102px;

}

.footer__contacts-item {
  //width: 265px;
  //max-width: 265px;



}

.footer__contacts-item span {
  padding-right: 10px;
  font-size: 12.5px;
}

.footer__contacts .footer__contacts-item a {
  font-size: 12.5px;
  text-transform: lowercase;
}



.footer__copyright {
  font-size: 10px;
  line-height: 1;
  color: #9b9b9b;
  letter-spacing: 0.4px;
  text-transform: uppercase;

  background-color: #252525;
}

.footer__copyright-wrap {
  max-width: 486px;
  margin: 0 auto;
  padding-top: 11px;
  padding-bottom: 10px;
  padding-left: 40px;
  padding-right: 40px;
}

@media  screen and (max-width: 768px) {
  .footer__copyright-wrap {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.footer__copyright-span {
  position: relative;
  padding-right: 15px;
}

.footer__copyright-span::after {
  content: "";

  position: absolute;

  top: 0;
  right: 2px;

  width: 9px;
  height: 10px;

  background-image: url("../img/svg/polygon.svg");
}
