.header-wrap {

  background-image: url("../img/bg/background-1@1x.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    background-image: url("../img/bg/background-1@2x.png");
  }
}

@media  screen and (min-width: 1601px) {
  .header-wrap {
    background-position: 50% 99.9%;
  }
}
