.header {
  display: flex;
  align-items: center;
  min-height: 100px;
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 40px;
  padding-right: 40px;

  //background-color: $color-blue;
}

@media  screen and (max-width: 800px) {
  .header {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

@media  screen and (max-width: 768px) {
  .header {
    padding-top: 0;
    padding-bottom: 0px;
    padding-left: 20px;
    padding-right: 20px;
    min-height: 70px;
  }
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1152px;
  max-width: 1152px;
  margin: 0 auto;
}

@media  screen and (max-width: 1024px) {
  .header__logo img {
    width: 75%;
  }
}

@media  screen and (max-width: 800px) {
  .header__logo img {
    position: relative;
    width: 50%;

    z-index: 1200;
  }
}

@media  screen and (max-width: 768px) {
  .header__logo img {
    width: 40%;
  }
}

.header a,
.header p {
  font-size: 14px;
  line-height: 38px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 0.7px;
}

.header ul {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  //margin-right: 20px;
  margin-right: -20px;
  margin-left: 60px;
  padding: 0;
  padding-top: 12px;

  list-style: none;
}

@media  screen and (max-width: 800px) {
  .header ul {
    margin-left: 30px;
  }
}

.header ul li {
  margin-right: 20px;
}
