.main-nav__toggle {
  margin: 0;
  padding: 0;
  display: none;
}

.main-nav__toggle:active,
.main-nav__toggle:focus {
  outline: none;
}

.main-nav__link {
  padding-left: 3px;
  padding-right: 4px;
  padding-bottom: 6px;
}

.main-nav__link--active {
  border-bottom: 3px solid #ff8b00;
}

.main-nav__link:hover {
  border-bottom: 3px solid #ff8b00;
}




@media screen and (max-width: 768px) {

  .main-nav__toggle {
    position: absolute;

    top: 16px;
    right: 12px;
    z-index: 1200;

    display: block;
    width: 40px;
    height: 40px;

    //background-color: #0AD9C6;
    background-color: transparent;

    cursor: pointer;
    border: none;
  }

  .main-nav__toggle:hover {
    opacity: 0.8;
  }

  .main-nav__toggle:active {
    opacity: 0.5;
  }

  .main-nav--closed .main-nav__toggle::before {
    content: "";

    position: absolute;
    top: 13px;
    right: 8px;

    width: 24px;
    height: 2px;

    background-color: #ffffff;
    box-shadow: 0 6px 0 0 #ffffff, 0 12px 0 0 #ffffff;
  }

  .main-nav--closed .main-nav__toggle:hover::before {
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 6px 0 0 rgba(255, 255, 255, 0.8),
                0 12px 0 0 rgba(255, 255, 255, 0.8);
  }

  .main-nav--closed .main-nav__toggle:active::before {
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0 6px 0 0 rgba(255, 255, 255, 0.5),
                0 12px 0 0 rgba(255, 255, 255, 0.5);
  }

  .main-nav--opened .main-nav__toggle {

    top: 16px;
    right: 12px;


    &::before,
    &::after {
      content: "";

      position: absolute;
      top: 20px;
      right: 6px;

      width: 20px;
      height: 2px;

      background-color: #ffffff;
    }

    &::before {
      transform: rotate(45deg);
      box-shadow: none;
    }

    &::after {
      transform: rotate(-45deg);
    }

    &:hover::before,
    &:hover::after {
      opacity: 0.8;
    }

    &:active::before,
    &:active::after {
      opacity: 0.5;
    }
  }

  .main-nav--closed .site-list__item {
    display: none;
  }

  .main-nav--closed .main-nav__wrapper {
    display: none;
  }

  .main-nav--opened .main-nav__wrapper {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    min-height: 100%;
    padding-top: 15px;
    padding-left: 0;
    //background-color: #7050e5;
    background-color: #5634d1;
    z-index: 1000;
  }

  .main-nav--opened .main-nav__list {
    margin-left: 17px;
  }

  .main-nav--nojs .main-nav__toggle {
    display: none;
  }

  .main-nav--nojs .main-nav__wrapper {
    position: static;
    display: block;
    min-height: 0;
  }

  .main-nav--nojs .site-list__item {
    display: block;
  }
}




@media  screen and (max-width: 768px) {
  .main-nav .main-nav__list {
    //display: block;
    height: 500px;
    overflow-y: auto;
    flex-direction: column;

    padding-top: 80px;
  }
}

@media  screen and (max-width: 768px) {
  .main-nav .main-nav__item {
    display: block;
    margin-right: 0;
    padding-top: 20px;
  }
}


@media  screen and (max-width: 768px) {
  .main-nav .main-nav__link {
    position: relative;
    padding-top: 0;
    padding-bottom: 0;

    font-size: 20px;
    line-height: 28px;

    font-size: 18px;
    line-height: 22px;
  }
}
