.product {
  display: flex;
  padding-top: 7.41%;
  padding-bottom: 7.5%;
}

@media  screen and (max-width: 600px) {
  .product {
    flex-direction: column;
  }
}

.product__wrap-left {
  width: 46.19%;
  padding-top: 6.5%;
  padding-left: 10.05%;
  padding-right: 6.1%;
}

@media  screen and (max-width: 1090px) {
  .product__wrap-left {
    padding-top: 2.5%;
  }
}

@media  screen and (max-width: 841px) {
  .product__wrap-left {
    padding-top: 0;
  }
}

@media  screen and (max-width: 768px) {
  .product__wrap-left {
    padding-left: 3%;
  }
}

@media  screen and (max-width: 600px) {
  .product__wrap-left {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 30px;
  }
}

.product h2 {
  margin: 0;
  margin-bottom: 2.1%;

  font-size: 40px;
  line-height: 1;
  color: #7050e5;
}

@media  screen and (max-width: 1135px) {
  .product h2 {
    font-size: 36px;
  }
}

@media  screen and (max-width: 950px) {
  .product h2 {
    font-size: 28px;
  }
}

.product p {
  margin: 0;
  margin-bottom: 6.1%;

  font-size: 15px;
  line-height: 22px;
  color: #878787;
}

.product .btn {
  padding-left: 48px;
  padding-right: 48px;
}

.product__wrap-right {
  width: 53.81%;
  padding-right: 8.5%;
}

@media  screen and (max-width: 768px) {
  .product__wrap-right {
    padding-right: 3%;
  }
}

@media  screen and (max-width: 600px) {
  .product__wrap-right {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.product__img {
  display: block;

  width: 724px;
  max-width: 100%;
  height: auto;
  padding-top: 23%;
  padding-left: 12%;
  padding-right: 12%;

  background-color: grey;
  background-image: url("../img/content/video@1x.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  cursor: pointer;
}

.product__img button {
  margin: 0;
  padding: 0;
  margin: 0 auto;

  line-height: 0;

  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  border-radius: 100%;

  transition: all 0.3ms;
}

.product__img button:hover {
  opacity: 0.8;
}

.product__img button img {
  line-height: 0;
}

.product__content {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.product__content p {
  margin: 0;
  margin-top: 3.6%;

  font-family: "Raleway", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 1.6px;
}

.product__content h2 {
  margin: 0;
  margin-top: 1%;
  margin-bottom: 21.7%;

  font-family: "Raleway", "Arial", sans-serif;
  font-size: 33px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 3.6px;
}

@media  screen and (max-width: 1490px) {
  .product__content h2 {
    font-size: 26px;
  }
}

@media  screen and (max-width: 1226px) {
  .product__content h2 {
    font-size: 20px;
  }
}

@media  screen and (max-width: 994px) {
  .product__content h2 {
    font-size: 11px;
  }
}

@media  screen and (max-width: 600px) {
  .product__content h2 {
    font-size: 20px;
  }
}

@media  screen and (max-width: 490px) {
  .product__content h2 {
    font-size: 11px;
  }
}

.product #video-popup-container {
  display:none;
  position: fixed;
  z-index: 996;
  width: 60%;
  left: 50%;
  margin-left: -30%;
  top: 20%;
  background-color: #fff;
}

.product #video-popup-close {
  cursor: pointer;
  position: absolute;
  right: -10px;
  top: -10px;
  z-index: 998;
  width: 25px;
  height: 25px;
  border-radius: 25px;
  text-align: center;
  font-size: 12px;
  background-color: #000;
  line-height: 25px;
  color: #fff;
}

.product #video-popup-iframe-container {
  position: absolute;
  z-index: 997;
  width: 100%;
  padding-bottom: 56.25%;
  border: 2px solid #000;
  border-radius: 2px;
  background-color: #000;
}

.product #video-popup-iframe {
  z-index: 999;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: #000;

  border: none;
}

.product #video-popup-overlay {
  display: none;
  position: fixed;
  z-index: 995;

  top: 0;
  background-color: #000;
  opacity: 0.8;
  width: 100%;
  height: 100%;
}

.product #video-popup-close:hover {
  color: #DE0023;
}
