.slider {
  position: relative;

  padding-left: 40px;
  padding-right: 40px;
}

@media  screen and (max-width: 768px) {
  .slider {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.slider__pagination {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  top: 48.5%;
  right: 54px;

  margin-bottom: -15px;
}

@media  screen and (max-width: 800px) {
  .slider__pagination {
    top: 40%;
    right: 40px;
  }
}

@media  screen and (max-width: 610px) {
  .slider__pagination {
    display: none;
  }
}

.slider__pagination span {
  width: 25px;
  height: 25px;
  margin-bottom: 15px;

  opacity: 1;
  background-color: transparent;
  background-image: url("../img/bg/bullet@1x.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;

  outline: none;

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    background-image: url("../img/bg/bullet@2x.png");
  }
}

.slider .swiper-pagination-bullet-active {
  background-image: url("../img/bg/bullet-active@1x.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    background-image: url("../img/bg/bullet-active@2x.png");
  }
}

.slider__container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  max-width: 1152px;
  margin: 0 auto;
  box-sizing: border-box;
}

.slider__wrapper {
  width: auto;
  max-width: 100%;
}

.slider__slide {

  padding-top: 99px;
  padding-bottom: 40px;
  padding-left: 79px;
  padding-right: 40px;

  color: #ffffff;

  background-image: url("../img/svg/twitter.svg");
  background-repeat: no-repeat;
  background-position: 85% 62%;
  background-size: 149px 121px;
}

@media  screen and (max-width: 1000px) {
  .slider__slide {
    background-image: none;
  }
}


@media  screen and (max-width: 800px) {
  .slider__slide {
    padding-left: 39px;
  }
}

@media  screen and (max-width: 560px) {
  .slider__slide {
    padding-top: 79px;
    padding-left: 0;
    padding-right: 0;
  }
}

.slider__slide h3 {
  margin: 0;
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 55px;
  line-height: 1;
}

@media  screen and (max-width: 800px) {
  .slider__slide h3 {
    font-size: 40px;
  }
}

@media  screen and (max-width: 560px) {
  .slider__slide h3 {
    font-size: 36px;
    line-height: 1.1;
  }
}

.slider__slide p {
  max-width: 473px;
  margin: 0;
  margin-bottom: 45px;
  padding-left: 5px;
  padding-right: 10px;


  line-height: 30px;
  letter-spacing: 0.2px;
}

@media  screen and (max-width: 560px) {
  .slider__slide p {
    padding-left: 0;
    padding-right: 0;
  }
}

.slider__slide a {
  margin-left: 4px;
}
