.statistics {
  display: flex;
  max-width: 956px;
  margin: 0 auto;
  padding-top: 138px;
  padding-bottom: 90px;
  padding-left: 40px;
  padding-right: 40px;
}

@media  screen and (max-width: 768px) {
  .statistics {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.statistics__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;


  font-weight: 700;

  color: #7050e5;
  text-align: center;


  list-style: none;
}

.statistics__item {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}

.statistics__item--identity {
  max-width: 255px;
  margin-right: 73px;
}

.statistics__item--transactions {
  max-width: 215px;
  margin-right: 79px;
}

.statistics__item--fraud {
  max-width: 254px;
}

.statistics__num {
  margin-bottom: 15px;

  font-size: 60px;
  line-height: 1;
  text-align: left;
}

.statistics__item--identity .statistics__num {
  padding-left: 12px;
}

.statistics__item--fraud .statistics__num {
  padding-left: 39px;
}


.statistics__description {
  margin: 0;

  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.3px;
  text-transform: uppercase;
}

.statistics__item--transactions .statistics__description {
  padding-left: 6px;
}

.statistics__item--fraud .statistics__description {
  padding-left: 6px;
}
