.twitter {
  position: relative;
  overflow: hidden;
}

@media  screen and (max-width: 960px) {
  .twitter {
    max-width: 400px;
    margin: 0 auto;
  }
}

.twitter__header {
  position: relative;
  padding-top: 12px;
  padding-bottom: 9px;
  padding-left: 70px;
  padding-right: 10px;

  font-family: "Myriad Pro", "Arial", sans-serif;
  font-weight: 400;
  color: #f7f7f7;

  background-color: #7050e5;
  z-index: 2;
}

.twitter__header::before {
  content: "";

  position: absolute;

  top: 0;
  left: 0;

  width: 61px;
  height: 61px;

  background-color: #5634d1;
  background-image: url("../img/bg/twitter-logo@1x.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 38px;

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    background-image: url("../img/bg/twitter-logo@2x.png");
    background-size: 38px;
  }
}

.twitter__header h2 {
  margin: 0;

  font-weight: 400;
  font-size: 21px;
  font-size: 24px;
  line-height: 1;
  letter-spacing: 0.3px;
}

.twitter__header p {
  margin: 0;
  margin-top: 3px;

  font-size: 14px;
  line-height: 1;
}

.twitter .twitter-timeline {
  position: relative !important;
  height: 279px !important;

  top: -44px;

  overflow: scroll;
}
