.what-we-do {
  padding-top: 150px;
  padding-bottom: 82px;
  background-color: #f8f8f8;
}

@media  screen and (max-width: 560px) {
  .what-we-do {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.what-we-do__wrap {
  max-width: 1232px;
  margin: 0 auto;
  padding-left: 40px;
  padding-right: 40px;
}

@media  screen and (max-width: 560px) {
  .what-we-do__wrap {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.what-we-do__header {
  position: relative;
}

.what-we-do__header h2 {
  margin: 0;
  margin-bottom: 40px;
  padding-right: 122px;

  font-size: 60px;
  line-height: 1;
  color: #7050e5;
  text-align: right;
}

@media  screen and (max-width: 1599px) {
  .what-we-do__header h2 {
    padding-right: 50px;
  }
}

@media  screen and (max-width: 800px) {
  .what-we-do__header h2 {
    font-size: 40px;
  }
}

@media  screen and (max-width: 560px) {
  .what-we-do__header h2 {
    margin-bottom: 30px;
    font-size: 28px;
  }
}

@media  screen and (max-width: 470px) {
  .what-we-do__header h2 {
    padding-right: 0;
    text-align: center;
  }
}

.what-we-do__header h2::before {
  content: "";
  position: absolute;

  width: 46px;
  height: 46px;

  top: -31px;
  right: 73px;

  background-image: url("../img/bg/arrow@1x.png");
  background-repeat: no-repeat;
}

@media  screen and (max-width: 1599px) {
  .what-we-do__header h2::before{
    right: 0;
  }
}

@media  screen and (max-width: 800px) {
  .what-we-do__header h2::before{
    width: 30px;
    height: 30px;

    right: 20px;
    top: -20px;

    background-size: cover;
  }
}

@media  screen and (max-width: 470px) {
  .what-we-do__header h2::before{
    background-image: none;
  }
}

.what-we-do__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-bottom: -40px;
  padding: 0;
  padding-left: 103px;
  padding-right: 90px;

  font-size: 15px;
  line-height: 22px;
  color: #878787;

  list-style: none;
}

@media  screen and (max-width: 1220px) {
  .what-we-do__list {
    padding-left: 8%;
    padding-right: 0;
  }
}

@media  screen and (max-width: 790px) {
  .what-we-do__list {
    padding-left: 0;
  }
}

.what-we-do__item {
  max-width: 280px;
  margin-left: 23px;
  margin-right: 23px;
  margin-bottom: 40px;
  padding-top: 206px;

  //background-color: #fff;
}

.what-we-do__item--device {
  width: 28.1%;
  margin-right: 0;
  margin-left: 0;
  margin-left: 2.4%;
  margin-right: 4.8%;

  background-image: url("../img/bg/object-1@1x.png");
  background-repeat: no-repeat;
  background-position: 41px 34px;
}

@media  screen and (max-width: 1220px) {
  .what-we-do__item--device {
    margin-left: 0;
  }
}

@media  screen and (max-width: 1030px) {
  .what-we-do__item--device {
    background-size: 54.5%;
    padding-top: 25.9%;
  }
}


.what-we-do__item--user {
  width: 25%;
  margin-right: 0;
  margin-left: 0;
  margin-right: 7.9%;

  background-image: url("../img/bg/object-2@1x.png");
  background-repeat: no-repeat;
  background-position: 53px 30px;
}

@media  screen and (max-width: 1030px) {
  .what-we-do__item--user {
    background-size: 67%;
    padding-top: 25.9%;
  }
}


.what-we-do__item--transaction {
  width: 29.2%;
  margin-right: 0;
  margin-left: 0;

  background-image: url("../img/bg/object-3@1x.png");
  background-repeat: no-repeat;
  background-position: 59px 30px;
}

@media  screen and (max-width: 1220px) {
  .what-we-do__item--transaction {
    margin-right: 0;
  }
}

@media  screen and (max-width: 1030px) {
  .what-we-do__item--transaction {
    background-size: 54.5%;
    padding-top: 25.9%;
  }
}

.what-we-do__item--contemporary {
  width: 28.1%;
  padding-top: 181px;
  margin-right: 0;
  margin-left: 0;
  margin-left: 2.4%;
  margin-right: 4.8%;

  background-image: url("../img/bg/object-4@1x.png");
  background-repeat: no-repeat;
  background-position: 57px 20px;
}

@media  screen and (max-width: 1220px) {
  .what-we-do__item--contemporary {
    margin-left: 0;
  }
}

@media  screen and (max-width: 1030px) {
  .what-we-do__item--contemporary {
    background-size: 54.5%;
    padding-top: 23.8%;
  }
}

.what-we-do__item--hsm {
  width: 29%;
  padding-top: 181px;
  margin-right: 0;
  margin-left: 0;
  margin-right: 4%;

  background-image: url("../img/bg/object-5@1x.png");
  background-repeat: no-repeat;
  background-position: 38px 29px;
}

@media  screen and (max-width: 1030px) {
  .what-we-do__item--hsm {
    background-size: 67%;
    padding-top: 23.8%;
  }
}

.what-we-do__item--cloud {
  width: 29.2%;
  padding-top: 181px;
  margin-right: 0;
  margin-left: 0;

  background-image: url("../img/bg/object-6@1x.png");
  background-repeat: no-repeat;
  background-position: 28px 48px;
}

@media  screen and (max-width: 1220px) {
  .what-we-do__item--cloud {
    margin-right: 0;
  }
}

@media  screen and (max-width: 1030px) {
  .what-we-do__item--cloud {
    background-size: 67%;
    padding-top: 23.8%;
  }
}

@media  screen and (max-width: 790px) {
  .what-we-do__list {
    margin-right: -5.7%;
  }
}

@media  screen and (max-width: 470px) {
  .what-we-do__list {
    margin-right: 0;
  }
}

@media  screen and (max-width: 790px) {
  .what-we-do__item {
    max-width: 44.3%;
    width: 44.3%;
    margin-right: 5.7%;
    padding-top: 35%;
  }
}

@media  screen and (max-width: 470px) {
  .what-we-do__item {
    max-width: 100%;
    width: 100%;
    margin-right: 0;
    background-size: 27%;
    background-position: center 10px;
  }
}

.what-we-do__item h3 {
  margin: 0;
  margin-top: 2px;
  margin-bottom: 3px;

  font-size: 17.5px;
  color: #7050e5;
  text-transform: uppercase;
}

@media  screen and (max-width: 560px) {
  .what-we-do__item h3 {
    margin-bottom: 7px;
  }
}

.what-we-do__item p {
  margin: 0;

  font-size: 14.5px;
  letter-spacing: 0.12px;
}
