@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Proxima Nova";

  font-display: swap;
  src:
    url("../fonts/proxima-nova-regular.woff2") format("woff2"),
    url("../fonts/proxima-nova-regular.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 600;
  font-family: "Proxima Nova";

  font-display: swap;
  src:
    url("../fonts/proxima-nova-semibold.woff2") format("woff2"),
    url("../fonts/proxima-nova-semibold.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: "Proxima Nova";

  font-display: swap;
  src:
    url("../fonts/proxima-nova-bold.woff2") format("woff2"),
    url("../fonts/proxima-nova-bold.woff") format("woff");
}



@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Raleway";

  font-display: swap;
  src:
    url("../fonts/raleway-regular.woff2") format("woff2"),
    url("../fonts/raleway-regular.woff") format("woff");
}


@font-face {
  font-style: normal;
  font-weight: 600;
  font-family: "Raleway";

  font-display: swap;
  src:
    url("../fonts/raleway-semibold.woff2") format("woff2"),
    url("../fonts/raleway-semibold.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: "Raleway";

  font-display: swap;
  src:
    url("../fonts/raleway-extrabold.woff2") format("woff2"),
    url("../fonts/raleway-extrabold.woff") format("woff");
}




@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Myriad Pro";

  font-display: swap;
  src:
    url("../fonts/myriad-pro-regular.woff2") format("woff2"),
    url("../fonts/myriad-pro-regular.woff") format("woff");
}
